
<div class='container'>
	<h1> This is the user profile of <%= @user.name %> </h1>
</div>


<br>
<br>

<div class='row'>
	<div class='col-md-3'>
	</div>
	<div class='col-md-6'>
		<ul>
			
			<%= render 'items/form'%>
			<%= render 'items/item'%>
		</ul>
	</div>
	<div class='col-md-3'>
	</div>
</div>