
<div class='container'>
	<h1> This is the user profile of <%= @user.name %> </h1>
</div>


<br>
<br>

<div class='row'>
	<div class='col-md-3'>
	</div>
	<div class='col-md-6'>
		<ul>
			<%= render partial: 'items/form', locals: {user: @user, item: @item} %>

			<div id="itemlist">
				<%= render @user.items %>
			</div>
		</ul>
	</div>
	<div class='col-md-3'>
	</div>
</div>