
<div class='container'>
	<h1> <%= @user.name %>'s Tasks </h1>
</div>


<br>
<br>

<div class='row'>
	<div class='container'>
		<ul>
			<%= render partial: 'items/form', locals: {user: @user, item: @item} %>

			<div id="itemlist">
				<%= render @user.items %>
			</div>
		</ul>
	</div>
</div>