<h1> Blocitoff </h1>

<div class="container">
	<h4> Blocitoff is a self-destructing to-do list. After seven days, items will be deemed no longer relevant, and will be automatically destroyed </h4>
</div>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<p>Keep yourself on track with time sensitive projects! Blocitoff will hold you to task and make sure you get things completed!</p>
		</div>

		<div class="col-md-4">
			<p>This app uses ajax to produce a quick and snappy applicaiton</p>
		</div>
		<div class="col-md-4">
			<p>Revolutionary technology allows rake automation and auto destruction of items after an alotted period</p>
		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="media">
			<%= image_tag("bugs", size: "300x300", class: "bugs") %>
	</div>
</div>

