<div class='jumbotron'>
	<div class='container'>
		<h1>Welcome to Blocitoff</h1> 
		<h3> A self destructing to do list!</h3>
		<%= link_to "Get started now!", new_user_registration_path, class: 'btn btn-success' %>
	</div>
</div>