<div class='jumbotron'>
	<div class='container'>
		<div align="center">
			<h1 align=>Welcome to Blocitoff</h1> 
			<h2> A self destructing to do list!</h2>
			<% if !current_user %>
				<%= link_to "Get started now!", new_user_registration_path, class: 'btn btn-success' %>
			<% else %>
				<p>Welcome <%= current_user.name %>!</p> 
				<%= link_to "My List", user_path(current_user), class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>