<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
		<div class="id-#{item.id}">

		<div class="container">
			
						<%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %> 
						&nbsp; <%= item.name %>
				</div>
				<br>
<% end %>
		</div>
	</h4>
