<h4>
	<% @user.items.each do |item| %>
	<% rawr = item.id %>
	<div class="container">
		<%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok' %> &nbsp; <%= item.name %> 
	</div>
	<%= item.id %>
	<br>
	<% end %>
</h4>