<h4>
	<% @user.items.each do |item| %>
	<% @rawr = item.id %>
	<div class="container">
<div id="item-#{@rawr}"><%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %> &nbsp; <%= item.name %> </div>
	</div>
	<br>
	<% end %>
</h4>